<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="col-md-auto" id="remove_tag" style="margin: 10px">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {%for category, message in messages %}
        <div
          class="alert alert-{{category}} alert-dismissable"
          role="alert"
          id="inside_alert"
        >
          {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h1>Upload your image</h1><br><br>
          <form action="/recommandation" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="file" id="formFile">
            </div>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
        </div>
        <div class="col"></div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>