<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
      <div class="row container">
        <div class="col"></div>
        <div class="col">
            <h1>input Image</h1><br>
             <div class="col-md-auto" id="remove_tag" style="margin: 10px">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {%for category, message in messages %}
        <div
          class="alert alert-{{category}} alert-dismissable"
          role="alert"
          id="inside_alert"
        >
          {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
            <img src="{{mapping_dict['input_path']}}">
        </div>
        <div class="col"></div>
      </div><br>
      <div class="row container">
        <h1>Output Image</h1><br>
        {% for image_path in mapping_dict["output_path"] %}
        <div class="col">
            <img src="/static/{{image_path}}" style="height: 200px; width: 200px;">
        </div>
        {% endfor %}
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>